body {
  margin: 0;
  color: #333333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

#first-background {
  background-image: url(./images/coding_pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 320px;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.profile-picture img {
  width: 140px;
  border-radius: 50%;
}
#first-div {
  /*border: 1px solid red;*/
  width: 140px;
  position: relative;
  top: 120px;
  left: 40px;
  bottom: 40px;
}
#title {
  color: #fff;

  margin: 0.2rem;
  text-align: center;
}
.fa-brands {
  margin-left: 10px;
  color: #fff;
}
.fa-facebook:hover {
  background: #1877f2;
  border-radius: 50%;
}
.fa-linkedin:hover {
  background: #0a66c2;
  border-radius: 10%;
}
.fa-instagram:hover {
  background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
  border-radius: 25%;
}
.fa-x-twitter:hover {
  background: black;
}

/* NAVIGATION LINKS*/
#nav-bar {
  border: 1px solid blue;
  display: flex;
  justify-content: center;
}
#nav-bar ul {
  border: 2px solid yellow;
  padding: 2rem;
}
#nav-bar ul > li {
  list-style-type: none;
  border: 1px solid purple;
  border-radius: 0.2rem;
  background-color: #fcb045;
  box-shadow: -5px 5px #5f6769;
  margin: 0.5rem;
  text-align: center;
  padding: 0 5rem;
}
#nav-bar ul > li a {
  text-decoration: none;
  color: #333333;
  font-size: 20px;
  line-height: 3rem;
  text-transform: uppercase;
}
#nav-bar ul li a:hover {
  color: #fff;
  /*background-color: #333333;*/
}
#nav-bar ul li a:active {
  color: lightgreen;
}

/*MAIN SECTION*/
.div-photos {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid red;
}
.photo img {
  height: 10rem;
  width: 14rem;
  border-radius: 10% 5%;
}
figcaption {
  text-align: center;
}
#interest p {
  font-size: 2rem;
  margin-left: 2rem;
  margin-bottom: 0;
}
/*FOOTER*/

#footer_section {
  background-color: #333333;
  color: #fff;
  border: 1px solid red;
  text-align: center;
  font-size: 0.6rem;
  padding: 2rem 0;
}
#footer_section a {
  color: #fff;
  text-decoration: none;
}
#footer_section a:hover {
  color: #333333;
  background-color: #fff;
  padding: 0.2rem;
  border: 1px solid grey;
  border-radius: 5px;
}

/* ABOUT US STYLING

NAVBAR-LINK*/

#first-ul {
  border: 1px solid green;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-right: 10px;
}
#first-ul li {
  border: 1px solid #5f6769;
  list-style-type: none;
  border-radius: 0.2rem;
  box-shadow: -2px 2px #5f6769;
  margin: 0.2rem;
}
#first-ul li a {
  border: 1px solid yellow;
  background-color: #fcb045;
  display: block;
  padding: 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  color: #333333;
}
#first-ul li a:hover {
  color: #fff;
}
